<% content_for :title, @user.username %>

<h2><%= @user.username %>'s links:</h2>
<div style="font-size:12px;">
<% if current_user == @user %>
  <%= link_to "Edit Account", edit_user_registration_path %>
<% else %>
  <%= link_to "Send a message", {:controller => 'messages', :action => 'new', :id => @user} %>
<% end %>
</div>
<br/>
<table cellpadding="5">
  <tr>
    <th>Name</th>
    <th>Address</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @brands.each do |b| %>
  <tr>
  
    <td><%= link_to b.name, b %> 
    <td><%= b.address %></td> 
  </tr>
<% end %>
</table>
