<div style="padding-left:50px;">
  <h2>LinkNode provides website connections so more users can</h2>
  <h2>explore your website.</h2>
  <h3>LinkNode is a website tool that allows your customers to visit your 
 links and easily moniter the incoming and outgoing visitors.</h3>
  <br /><span style="padding-left:125px;"><%= image_tag("home_page.png") %></span>
</div>
</div>
<div id="subcontainer-box">
  <div class="hp_box">
    <div class="topleft">
    <div class="topright">
      <div>
        <h2>Sign In</h2>
        <%= render (:partial => 'login') %>
        <br />
        <span title="If you remember your password, try logging in with your email">
         <%= link_to "Forgot your username?", new_user_password_path %></span><br />
        <%= link_to "Forgot your password?", new_user_password_path %><br />
        <%= link_to "Didn't receive confirmation instructions?", new_user_confirmation_path %>
      </div>
      </div>
      </div>
    <div class="bottomleft">
    <div class="bottomright"> </div>
    </div>
    
    <div class="topleft">
    <div class="topright">
      <div>
        <h2>New to Link Node? </h2>
        <%= link_to "Sign up", new_user_registration_path %> 
      </div>
      </div>
      </div>
    <div class="bottomleft">
    <div class="bottomright"> </div>
    </div>
  </div>
