

<h3>Link nodes</h3>
  <div id="linkto">
    <table>
      <tr>
        <th>Name</th>
        <% if user_signed_in? and @brand.user == current_user %>
          <th>Visitors to</th>
          <th>Visitors from</th>
        <%end%>
        <th></th>
        <th></th>
      </tr>
      
      <% @friendships_as_brand.each_with_index do |f,i| %>
        <tr>
          <td><%= link_to  Brand.find(f.friend_id).name, Brand.find(f.friend_id) %></td>
          <% if user_signed_in? and @brand.user == current_user %>
            <td><%= f.count_index %></td>
            <td><%= @friendships_as_friend[i].count_index %></td>
          <% end %>
        </tr>
      <% end %>

      <% if user_signed_in? and @brand.user == current_user %>

        <!-- Requested friends -->
        <% for friend in @brand.requested_friends %> 
          <tr>
            <td><%= link_to friend.name, friend %></td>
            <td>--</td>
            <td>--</td>
            <td id="status">Waiting for confirmation</td>
            <td>
            <%= link_to 'Cancel', 
              {:controller => 'friendships', 
              :action => 'destroy', 
              :brand_id => @brand, 
              :friend_id => friend }, :method => :delete, :confirm => 'Are you sure?' %>
           </td>
          </tr>
        <% end %>
        </tr>

        <!-- Pending friends -->
        <% for friend in @brand.pending_friends %> 
          <tr>
            <td><%= link_to friend.name, friend %></td>
            <td>--</td>
            <td>--</td>
            <td id="status">Request</td>
            <td>
              <%= link_to 'Accept', 
                {:controller => 'friendships', 
                :action => 'update', 
                :brand_id => @brand, 
                :friend_id => friend } %> | 
              <%= link_to 'Reject', 
                {:controller => 'friendships', 
                :action => 'destroy', :brand_id => @brand, :friend_id => friend }, 
                :method => :delete, :confirm => 'Reject friend request! Are you sure?' %>
            </td>
          </tr>
        <% end %>
      <% end %> <!-- End of if user check-->
    </table>
  </div>
