<!DOCTYPE html>

<head>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
</head>

<body>

<div id="user_nav">
  <div id="logo">
    <%= link_to image_tag("logo2.png"), :root %>
  </div>
</div>

<div id="container">
  <%- flash.each do |name, msg| -%>
    <%= content_tag :div, msg, :id => "flash_#{name}" if msg.is_a?(String) %>
  <%- end -%> 

    <% if @brand.photo.file? %>
      <span style="position:absolute;"><%= image_tag @brand.photo.url(:original) %></span>  
    <% else %>
      <span style="position:absolute;"><img alt="Profile" src="/system/photos/profile.jpg" /></span>
    <% end %>

	<div id="linkinfo">
	  <span id="name"><%= @brand.name %></span><span id="user">
	  <span id="address"><%= @brand.address %></span>
	  <span id="info"><%= @brand.info %></span>
	</div>
	
     <ul style="padding-top:110px;">
	  <% if @brand.friends.count == 0 %>
		<%= link_to "Visit LinkNode to add friends", :root, :target => '_blank'  %>
	  <% else %>
		<% for f in @brand.friends %> 
		  <li>
			  <%= link_to f.name , {:controller => 'friendships', :action => 'add_count', :brand_id => @brand, :friend_id => f }, :target => '_blank'  %>
		  </li>   
		<% end %>
	  <% end %>
	</ul>
  </div>
</div>
<div id="footer">
  OrangeLinks © 2010 |
  <%= link_to "About", :root %> |
  <%= link_to "Terms", :root %> |
  <%= link_to "Help", :root %>
</div>
</body>
</html>




