<div id="linkinfo">

  <span id="name"><%= @brand.name %></span>
  <span id="address"><%= @brand.address %></span>
  <span id="info"><%= @brand.info %></span>

</div>


<div id="wrapper">
	<div id="content">    
    
	<h3 class="tab" title="first"><div class="tabtxt"><a href="#">Friends</a></div></h3>
    <% if user_signed_in? %>
      <div class="tab"><h3 class="tabtxt" title="second"><a href="#">Add</a></h3></div>
    <% end %>
	<% if user_signed_in? and @brand.user == current_user %>
	  <div class="tab"><h3 class="tabtxt" title="third"><a href="#">Widget</a></h3></div>
	  <div class="tab"><h3 class="tabtxt" title="forth"><a href="#">Edit</a></h3></div>
	<% end %>
	<div class="boxholder">
		<div class="box">
          <%= render 'friends' %>
		</div>
		<div class="box">
          <%= render 'choose_add'%>
		</div>
		<div class="box">
          <%= render 'install_widget'%>
		</div>
		<div class="box">
          <%= render 'form'%>
		</div>
	</div>
</div>

<script type="text/javascript">
	Element.cleanWhitespace('content');
	init();
</script>

<% if user_signed_in? and @brand.user == current_user %>
<br><br>  
<%= link_to 'Back', brands_path %>


<% end %>

