<div id="linkinfo">

  <span id="name"><%= @brand.name %></span>
  <span id="address"><%= @brand.address %></span>
  <span id="info"><%= @brand.info %></span>

  <div id="action">
    <% if user_signed_in? %>
      <button class="choose_button">Test Open</button> 
      <div class="choose_brand">
        <h4>Choose a brand to be friends with <%= @brand.name%>:</h4>
          <table cellpadding="5">
            <tr>
              <th>Name</th>
              <th>Address</th>
              <th></th>
            </tr>
            <% @user_brands.each do |b| %>
              <% if b != @friend %>
                <tr>
                  <td><%= b.name %> 
                  <td><%= b.address %></td> 
                  <td><%= link_to 'Add',  {:controller=> 'friendships', :action => 'create', :brand_id => b, :friend_id => @brand }%></td> 
               </tr>
             <% end %>
           <% end %>
         </table>
     </div>
    <% end %>
    <% if user_signed_in? and @brand.user == current_user %>
      <%= link_to 'widget', {:controller=> 'brands', :action => 'widget_generator', :id => @brand }%>
      <%= link_to 'edit', edit_brand_path(@brand) %>
      <%= link_to 'destroy', @brand, :confirm => 'Are you sure?', :method => :delete %>
    <% end %>  
  </div>

</div>


<h3>LinkTo</h3>
  <div id="linkto">
    <table>
      <tr>
        <th>Name</th>
        <% if user_signed_in? and @brand.user == current_user %>
          <th>Visitors to</th>
          <th>Visitors from</th>
        <%end%>
        <th></th>
        <th></th>
      </tr>
      
      <% @friendships_as_brand.each_with_index do |f,i| %>
        <tr>
          <td><%= link_to  Brand.find(f.friend_id).name, Brand.find(f.friend_id) %></td>
          <% if user_signed_in? and @brand.user == current_user %>
            <td><%= f.count_index %></td>
            <td><%= @friendships_as_friend[i].count_index %></td>
          <% end %>
        </tr>
      <% end %>

      <% if user_signed_in? and @brand.user == current_user %>

        <!-- Requested friends -->
        <% for friend in @brand.requested_friends %> 
          <tr>
            <td><%= link_to friend.name, friend %></td>
            <td>--</td>
            <td>--</td>
            <td id="status">Waiting for confirmation</td>
            <td>
            <%= link_to 'Cancel', 
              {:controller => 'friendships', 
              :action => 'destroy', 
              :brand_id => @brand, 
              :friend_id => friend }, :method => :delete, :confirm => 'Are you sure?' %>
           </td>
          </tr>
        <% end %>
        </tr>

        <!-- Pending friends -->
        <% for friend in @brand.pending_friends %> 
          <tr>
            <td><%= link_to friend.name, friend %></td>
            <td>--</td>
            <td>--</td>
            <td id="status">Request</td>
            <td>
              <%= link_to 'Accept', 
                {:controller => 'friendships', 
                :action => 'update', 
                :brand_id => @brand, 
                :friend_id => friend } %> | 
              <%= link_to 'Reject', 
                {:controller => 'friendships', 
                :action => 'destroy', :brand_id => @brand, :friend_id => friend }, 
                :method => :delete, :confirm => 'Reject friend request! Are you sure?' %>
            </td>
          </tr>
        <% end %>
      <% end %> <!-- End of if user check-->
    </table>
  </div>

<% if user_signed_in? and @brand.user == current_user %>
<br><br>  
<%= link_to 'Back', brands_path %>

<% end %>

