
<p>
  <b>Name:</b>
  <%= @brand.name %>
</p>
<p>
  <b>Address:</b>
  <%= @brand.address %>
</p>

<p>
  <b>Info:</b>
  <%= @brand.info %>
</p>

<h2>Friends</h2>
<ul>
  <% if @brand.friends.count == 0 %>
    <td>No friends</td>
  <% else %>
    <% for f in @brand.friends %> 
      <li><%= f.name %> 
          (<%= link_to "Visit", {:controller => 'brands', :action => 'add_count', :brand_id => @brand, :friend_id => f } %>)
      </li>   
    <% end %>
  <% end %>
</ul>

