<% content_for :title, @brand.name %>
<% if @brand.photo.file? %>
  <span style="position:absolute;left:50px;"><%= image_tag @brand.photo.url(:original) %></span>
<% else %>
  <span style="position:absolute;left:50px;"><img alt="Profile" src="/system/photos/profile.jpg" /></span>
<% end %>

<div id="linkinfo">
  <span id="name"><%= @brand.name %></span> <span id="user">by <%= link_to @brand.user.username , @brand.user %></span>
  <span id="address"><%= @brand.address %></span>
  <span id="info"><%= @brand.info %></span>
</div>

<div id="wrapper" style="padding-top:110px;">
	<div id="content">        
      <h3 class="tab"><div class="tabtxt"><a href="#">Links</a></div></h3>
      <% if user_signed_in? %>
        <div class="tab"><h3 class="tabtxt"><a href="#">Add</a></h3></div>
      <% end %>
	  <% if user_signed_in? and @brand.user == current_user %>
	    <div class="tab"><h3 class="tabtxt"><a href="#">Widget</a></h3></div>
	    <div class="tab"><h3 class="tabtxt"><a href="#">Edit</a></h3></div>
	  <% end %> 
      <div class="boxholder">
		<div class="box">
          <%= render 'friends' %>
		</div>
		<div class="box">
          <%= render 'choose_add'%>
		</div>
		<div class="box">
          <%= render 'install_widget'%>
		</div>
		<div class="box">
          <%= render 'form'%><br />
          <%= link_to 'Remove this LinkNode', @brand, :confirm => 'Are you sure?', :method => :delete %>
		</div>
	  </div>
    </div>
</div>


<script type="text/javascript">
	Element.cleanWhitespace('content');
	init();
</script>

