<div id="linkinfo">

  <span id="name"><%= @brand.name %></span>
  <span id="address"><%= @brand.address %></span>
  <span id="info"><%= @brand.info %></span>

  <div id="action">
    <%= link_to 'edit', edit_brand_path(@brand) %>
    <%= link_to 'destroy', @brand, :confirm => 'Are you sure?', :method => :delete %>
  </div>

</div>


<h3>LinkTo</h3>
  <% if @brand.friends.count == 0 %>

    <td>No friends</td>

  <% else %>
      
    <div id="linkto">
      <table>
        <tr>
          <th>Name</th>
          <th>Visitors to</th>
          <th>Visitors from</th>
          <th></th>
          <th></th>
        </tr>

        <tr>
          <% @friendships_as_brand.each_with_index do |f,i| %>
          <td><%= link_to  Brand.find(f.friend_id).name, Brand.find(f.friend_id) %></td>
          <td><%= f.count_index %></td>
          <td><%= @friendships_as_friend[i].count_index %></td>
          <% end %>
        </tr>

        <% if user_signed_in? and @brand.user == current_user %>

          <!-- Requested friends -->
          <% for friend in @brand.requested_friends %> 
            <tr>
              <td><%= link_to friend.name, friend %></td>
              <td>--</td>
              <td>--</td>
              <td id="status">Waiting for confirmation</td>
              <td>
                <%= link_to 'Cancel', 
                  {:controller => 'friendships', 
                  :action => 'destroy', 
                  :brand_id => @brand, 
                  :friend_id => friend }, :method => :delete, :confirm => 'Are you sure?' %>
              </td>
            </tr>
          <% end %>

          <!-- Pending friends -->
          <% for friend in @brand.pending_friends %> 
            <tr>

              <td><%= link_to friend.name, friend %></td>
              <td>--</td>
              <td>--</td>
              <td id="status">Request</td>
              <td>
                <%= link_to 'Accept', 
                  {:controller => 'friendships', 
                  :action => 'update', 
                  :brand_id => @brand, 
                  :friend_id => friend } %> | 
                <%= link_to 'Reject', 
                  {:controller => 'friendships', 
                  :action => 'destroy', :brand_id => @brand, :friend_id => friend }, 
                  :method => :delete, :confirm => 'Reject friend request! Are you sure?' %>
              </td>
            </tr>
          <% end %>
        <% end %>
      </table>
    </div>
  <% end %>

<% if user_signed_in? and @brand.user == current_user %>

  <h3>Add New Friends</h3>
  <ul>
  <% @brands.each do |f| %>
    <% if @brand != f %>
	  <% if @brand.friends.include?(f) == false and @brand.requested_friends.include?(f) == false and @brand.pending_friends.include?(f) == false %>
	     <li><%= link_to f.name, f %> |
	    <%= link_to 'Add',  {:controller=> 'friendships', :action => 'create', :brand_id => @brand , :friend_id => f}%> 
	    </li>
	  <% end %>
    <% end %>
  <% end %>
  </ul>
<% end %>

<%= link_to 'Back', brands_path %>
