<div id="subcontainer-right">
  <% if user_signed_in? %>
    <h3>Your Links: </h3> 

    <% current_user.brands.each do |b| %>
      <% if !@brand.nil? %>
        <% show_current = "show_current" if b.id == @brand.id %>
      <% end %>
      <%= link_to(b) do %>
      <div id="side_link" class="<%= show_current %>">
        <%= b.name %>
        <span id="link_address"><%= b.address %></span>
      </div>
      <% end %>
    <% end %>

    <%= link_to( new_brand_path ) do %>
      <div id="side_link">+ New Link</div>  
    <% end %>
    
  <% end %>
</div>
